* {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;
}

body {
    /*background-image: url('../images/night-sky.gif');*/
    background-size: cover;
}

#top_button_container {
    background-color: #efefef;
    margin-top: 4vh;
    padding: 1vh 0vh 0vh 0vh;
    height: 6vh;
    opacity: 0.6;
}

button.top_button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    font-size: 200%;
}

button.top_button:hover {
    color: #000000;
}

.body_container:not(#home_body) {
    display: none;
    position: relative;
    background-color: #efefef;
    margin-top: 5vh;
    padding: 2vh 2vh 2vh 2vh;
    height: 70vh;
    opacity: 0.6;
    -webkit-box-sizing: border-box;
}

#main_container {
    position: relative;
    height: 85vh;
}


#home_body > * {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
    font-size: 500%;
}


#copyright {
    height: 2vh;
}

#copyright_text {
    color: #efefef;
}


